---
import Card from "../components/Card.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
</head>
<body>
    <Card user="1" titulo="Titulo" contenido= "lorem20"
    />
    <Card/>
    <Card/>
    <Card/>
</body>
</html>

